.contentCard {
  width: 100%;
  max-width: 486.76px;
  height: 100%;
  position: relative;
  background: #C6FCFC;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 10px 10px 10px 0px rgba(0, 0, 0, 0.3);
}

.contentCard .image {
  width: 100%;
  height: auto;
  aspect-ratio: 2 / 1;
  position: relative;
  background: #B9B9B9;
}

.contentCard .image img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.contentCard .bottom {
  padding: 1rem 2rem;
  display: flex;
  gap: 3rem;
}

.contentCard .date {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}

.contentCard .dateInner {
  position: relative;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 6px;
  display: inline-flex;
}

.contentCard .month {
  text-align: center;
  color: #4539B4;
  font-size: 1.5rem;
  font-family: Montserrat;
  font-weight: 600;
  word-wrap: break-word;
}

.contentCard .day {
  text-align: center;
  color: #2D2C3C;
  font-size: 1.6rem;
  font-family: Montserrat;
  font-weight: 700;
  word-wrap: break-word;
}

.contentCard .eventDetails {
  width: 100%;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 0.5rem;
  display: inline-flex;
}

.contentCard .eventTitle {
  width: 100%;
  color: #2D2C3C;
  font-size: 1.5rem;
  font-family: Open Sans;
  font-weight: 600;
  word-wrap: break-word;
}

.contentCard .venue {
  color: #5A5A5A;
  font-size: 1rem;
  font-family: Open Sans;
  font-weight: 600;
  word-wrap: break-word;
}

.contentCard .time {
  width: 100%;
  color: #5A5A5A;
  font-size: 1rem;
  font-family: Open Sans;
  font-weight: 400;
  text-transform: uppercase;
  word-wrap: break-word;
}

.contentCard .ticketInterestedCount {
  justify-content: flex-start;
  align-items: center;
  gap: 9px;
  display: inline-flex;
}

.contentCard .ellipse {
  width: 5px;
  height: 5px;
  background: #5A5A5A;
  border-radius: 50%;
}

.contentCard .interested {
  justify-content: flex-start;
  align-items: center;
  gap: 4px;
  display: flex;
}

.contentCard .interestedText {
  color: #5A5A5A;
  font-size: 1rem;
  font-family: Open Sans;
  font-weight: 600;
  word-wrap: break-word;
}

@media (max-width: 768px) {
  .contentCard {
    width: 90%;
    height: 100%;
    margin: 1rem auto;
  }

  .eventDetails {
    margin-left: 0;
  }

  .date {
    width: 100%;
    height: auto;
    position: relative;
  }

  .dateInner {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }

  .bottom{
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
}
