.participate{
    background: white;
    padding: 2rem 5rem;
}

.participate-header{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1rem;
    margin-bottom: 2.5rem;
}

.participate-header div{
    font-size: 2rem;
    font-weight: bold;
}

.participate-header .date{
    font-size: 1.5rem;
    font-weight: normal;
}

.participate-header .initiate{
    font-size: 1.5rem;
    font-weight: normal;
}

.participate-header button{
    padding: 0.5rem 5rem;
    font-size: 1.5rem;
    background: #19946F;
    border: none;
    border-radius: 10px;
    color: white;
}

.participate-main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3rem;
}

.participate-main div:nth-child(4){
    padding: 0.5rem 5rem;
    font-size: 1.5rem;
    background: #93C1B2;
    border: none;
    border-radius: 10px;
    color: black;
    margin-bottom: 1.5rem;
    align-self: first baseline;
}

.event-location-map{
    border-radius: 50px;
}

.participate-main figcaption div:nth-child(1) {
    font-weight: bold;
    margin-bottom: 3rem;
}

.participate-main figcaption div:nth-child(2) {
    font-weight: bold;
}

.participate-main figure{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3.5rem;
}

.participate-main figure img{
    height: 20rem;
}

.participate-main figcaption{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: first baseline;
}

.participate-main figcaption div{
    font-size: 2rem;
}

.event-desc{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: first baseline;
    gap: 2rem;
}

.event-desc div{
    font-size: 1.7rem;
}

.participate-footer{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
}

.participant-avatar{
    height: 4rem;
    width: 4rem;
}