.journey{
    padding: 2rem 5rem;
}

.journey-title{
    border-bottom: 2px solid black;
    font-size: 3rem;
    font-family: Arial Black;
    padding: 0 0 1rem 0;
    color: #195A94;
}

.journey-chart{
    margin: 2rem 2rem;
    height: 30rem;
    background: #619EB8;
    display: flex;
    flex-direction: column;
}

.above-line{
    margin: 10rem 0rem 0rem 15rem;
    position: absolute;
    display: flex;
    gap: 25rem;
}

.below-line{
    margin: 15rem 0rem 0rem 30rem;
    position: absolute;
    display: flex;
    gap: 25rem;
}

.line{
    border: 1px solid white;
    height: 5rem;
    width: 0;
}

.above-stick{
    margin: 9.5rem 0rem 0rem 14.5rem;
    position: absolute;
    display: flex;
    gap: 24.12rem;
}

.below-stick{
    margin: 19.5rem 0rem 0rem 29.5rem;
    position: absolute;
    display: flex;
    gap: 24.12rem
}

.circle{
    background: white;
    height: 1rem;
    width: 1rem;
    border-radius: 50%;
}

.above-circle{
    position: absolute;
    margin: 5.5rem 0rem 0rem 14rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20.5rem;
    color: white;
}

.below-circle{
    position: absolute;
    margin: 20.5rem 0rem 0rem 25rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16rem;
    color: white;
}

.text-box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.text-box h3{
    font-size: 20px;
    text-align: center;
}

.text-box h5{
    font-size: 15px;
    text-align: center;
}

.journey-chart::before {
    content: "";
    position: absolute;
    margin: 15rem 0rem 0rem 76rem;
    width: 2px;
    height: 70em;
    background: white;
    transform: rotate(90deg);
    transform-origin: top left;
}

.orgs-slider-title{
    color: grey;
    font-size: 1.5rem;
    text-align: center;
}

.orgs-slider img{
    height: 5rem;
    margin-left: 2.5rem;
}