.newsletter {
    padding: 2rem 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10rem;
    padding: 2rem 5rem;
    background: #5C9F5F;
}

.info{
    width: 50%;
}

.info h1 {
    font-size: 2.8rem;
    margin-bottom: 0.8rem;
}

.info p {
    word-wrap: break-word;
    font-size: 1.6rem;
}

.input-group {
    display: flex;
    align-items: center;
}

.input {
    height: 4rem;
    width: 18rem;
    padding: 0 1rem;
    color: #000000;
    font-size: 15px;
    border: 3px solid #2B293D;
    border-radius: 6px 0 0 6px;
}

.button--submit {
    height: 4rem;
    padding: .5rem 1rem;
    border: none;
    border-radius: 0 6px 6px 0;
    background-color: #2B293D;
    color: #76F90E;
    font-size: 15px;
    cursor: pointer;
    transition: background-color .3s ease-in-out;
}

.input:focus,
.input:focus-visible {
    border-color: #3898EC;
    outline: none;
}

@media screen and (max-width: 1048px){
    .newsletter {
        display: flex;
        flex-direction: column;
        gap: 4rem;
        padding: 2rem 0;
      }
    
      .info h1 {
        font-size: 2.8rem;
      }
    
      .info p {
        font-size: 1.6rem;
      }
}