.news{
    margin: 4rem 5rem 4rem 5rem;
    width: 85rem;
    height: 35rem;
    background: #A4D8EB;
    position: relative;
    border-radius: 15px;
}

.news-title{
    font-family: Arial Black;
    font-size: 2rem;
    padding-bottom: 20px;
    border-bottom: 2px solid black;
    width: 24%;
    word-wrap: break-word;
    padding: 1rem 2rem;
    color: #195A94;
}

/* card 1 */
.news-card-1{
    margin: 0 4rem;
    position: absolute;
    width: 22rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    padding: 1% 1rem;
}

.news-card-1 img{
    height: 13rem;
    border-radius: 15px;
}

.cmt{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.dt {
    padding-right: 2rem;
    border-right: 1px solid grey;
}

.news-content{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.news-content h3{
    font-size: 1.5rem;
}

.news-content p{
    word-wrap: break-word;
    font-size: 1rem;
    text-align: justify;
    padding-bottom: 1rem;
    border-bottom: 1px solid grey;
}

.news-profile{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5rem;
}

.dp{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.news-profile img{
    height: 3rem;
    border: 1px solid black;
    border-radius: 50%;
}


/* card 2 */
.news-card-2{
    margin: -4rem 32rem;
    position: relative;
    width: 22rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    padding: 1% 1rem;
}

.news-card-2 img{
    height: 13rem;
    width: 20rem;
    border-radius: 15px;
}

.cmt{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.dt {
    padding-right: 2rem;
    border-right: 1px solid grey;
}

.news-content{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.news-content h3{
    font-size: 1.5rem;
}

/* card 3 */
.news-card-3{
    position: relative;
    border-radius: 15px;
    padding: 1% 1rem;
    background: #37AEE1;
    margin: 3.5rem 32rem;
    position: absolute;
    width: 22rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
}

.news-card-3 img{
    height: 13rem;
    width: 20rem;
    border-radius: 15px;
}

.cmt{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.dt {
    padding-right: 2rem;
    border-right: 1px solid grey;
}

.news-content{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.news-content h3{
    font-size: 1.5rem;
}

/* card 4 */
.news-card-4{
    margin: -25rem 60rem;
    position: relative;
    width: 22rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    padding: 1% 1rem;
    background: #37AEE1;
    border-radius: 15px;
}

.news-card-4 img{
    height: 13rem;
    width: 20rem;
    border-radius: 15px;
}

.cmt{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.dt {
    padding-right: 2rem;
    border-right: 1px solid grey;
}

.news-content{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.news-content h3{
    font-size: 1.5rem;
}

/* card 5 */
.news-card-5{
    margin: 15rem 60rem;
    width: 22rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    padding: 1% 1rem;
}

.news-card-5 img{
    height: 13rem;
    width: 22rem;
    border-radius: 15px;
}

.cmt{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.dt {
    padding-right: 2rem;
    border-right: 1px solid grey;
}

.news-content{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.news-content h3{
    font-size: 1.5rem;
}

.news-content p{
    word-wrap: break-word;
    font-size: 1rem;
    text-align: justify;
    padding-bottom: 1rem;
    border-bottom: 1px solid grey;
}

.news-profile{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5rem;
}

.dp{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.news-profile img{
    height: 3rem;
    width: 3rem;
    border: 1px solid black;
    border-radius: 50%;
}