.card-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); /* Adjust the min and max values as needed */
  grid-gap: 20px;
}
.View-More{
  margin-top:2%;
  margin-left:40%;
  padding: 1%;
  padding-left: 3%;
  padding-right: 3%;
  font-size: larger;
}